<div class="background d-flex align-items-center justify-content-center flex-wrap px-5">
    <h1 class="w-100 text-center text-red">MINOXIGROW</h1>
    <div class="col-md-4 flex-wrap d-flex justify-content-center">
        <div class="info-container shadow-lg d-flex justify-content-center align-items-center flex-wrap border-1 bg-white rounded-5 p-3 text-center my-5 w-75 text-red ">
            <h3 class="w-100">MINOXIGROW</h3>
            <h4 class ="text-red-dark w-100">contains</h4>
            <h4 class ="text-red-dark w-100">Glycerol</h4>
            <h4 class ="text-red-dark w-100">To avoid Dryness</h4>
        </div>
        <div class="info-container shadow-lg d-flex justify-content-center align-items-center flex-wrap border-1 bg-white rounded-5 p-3 text-center my-5 w-75 text-red ">
            <h4 class ="text-red-dark w-100">No need to</h4>
            <h4 class ="text-red-dark w-100">Shake with</h4>
            <h3 class="w-100">MINOXIGROW</h3>
        
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-center">
        <!-- <div class=" img-container">
        </div> -->
        <img class="bg-img" src="assets/images/2.png" alt="">

    </div>

    <div class="col-md-4 d-flex flex-wrap justify-content-center">
        <div class="info-container shadow-lg d-flex justify-content-center align-items-center flex-wrap border-1 bg-white rounded-5 p-3 text-center my-5 w-75 text-red ">
            <h3 class="w-100">MINOXIGROW</h3>
            <h4 class ="text-red-dark w-100">Contains menthol</h4>
            <h4 class ="text-red-dark w-100">As it work as</h4>
            <h4 class ="text-red-dark w-100">vasodilator To make</h4>
            <h4 class ="text-red-dark w-100">synergistic effect</h4>

        </div>
        <div class="info-container shadow-lg d-flex justify-content-center align-items-center flex-wrap border-1 bg-white rounded-5 p-3 text-center my-5 w-75 text-red ">
            <h4 class ="text-red-dark w-100">No need to</h4>
            <h4 class ="text-red-dark w-100">invert the</h4>
            <h4 class ="text-red-dark w-100">bottle of</h4>
            <h3 class="w-100">MINOXIGROW</h3>

        </div>
    </div>
</div>